<div id="typing-note" class="uk-container uk-text-center"></div>

<div class="chat-area">
    <div id= "message-container" class="window uk-container uk-text-center ">
        <div class="notification">Welcome to chat room.</div>
    </div>
    <div class="send-section">
        <form action="#" class="full-screen" id="send-container">
            <input type="text" name="message_input" id = "message_input" autofocus>
            <button id="msg-submit-btn" class="uk-button uk-button-primary" type="submit">Send</button>
            <button id="msg-submit-icon" uk-icon="forward"  class="uk-button " type="submit"></button>
        </form>
    </div>
</div>
    